body{
	margin:0;
	background:#444;
	
	margin:20px;
}
svg{
	width: 800px;
	height: 400px;
	position:fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	z-index: 9998;
}

.disabled{
	display: none !important;
}

span{
	color:white;
	font-family:sans-serif;
	opacity:.3;
}

.modalIframe{
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: rgba(0,0,0,.8);
	opacity: 0;
	z-index: 9999;
	
}

.wrapper-iframe--wrapper{
	height: 600px;
	position: relative;
	background: #2196f3;
}

.madalIframe--close{
    position: absolute;
    right: -36px;
    top: -44px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.madalIframe--close:hover {
    opacity: 1;
}

.madalIframe--close:before, .madalIframe--close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    background-color: rgb(173, 173, 173);
}
.madalIframe--close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.madalIframe--close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

img{
	max-width: 100%;
}

iframe{
	border: none !important;
}